parameters:
	ignoreErrors:
		-
			message: '#^Call to protected method createTestUser\(\) of class Tests\\DuskTestCase\.$#'
			identifier: method.protected
			count: 1
			path: tests/Browser/ExampleTest.php

		-
			message: '#^Call to protected method getUniqueEmail\(\) of class Tests\\DuskTestCase\.$#'
			identifier: method.protected
			count: 1
			path: tests/Browser/ExampleTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:assertAuthenticated\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:assertGuest\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Feature/Auth/EmailVerificationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Feature/Auth/PasswordConfirmationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/PasswordResetTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/Feature/Auth/PasswordResetTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:assertAuthenticated\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/DashboardTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/DashboardTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAsTestUser\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:createTestUser\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:getUniqueEmail\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:getUniqueString\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Unable to resolve the template type TValue in call to function expect$#'
			identifier: argument.templateType
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Settings/PasswordUpdateTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Feature/Settings/ProfileUpdateTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:assertGuest\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Settings/ProfileUpdateTest.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: tests/Pest.php
